/* Основной контейнер */
.casesContainer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

/* Контейнер строки с карточками */
.caseRow {
  width: 100%;
  max-width: 928px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 363px;
}

/* Карточка кейса */
.caseCard {
  width: 176px;
  height: 363px; /* Фиксируем высоту */
  background-color: #334D66;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* Убираем transform */
  border: 1px solid #94ADC7;
}

.caseCard:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}


/* Контейнер для изображения в карточке */
.caseImageContainer {
  width: 100%;
  height: 99px;
  overflow: hidden;
  border-bottom: 1px solid #94ADC7; 
}

.caseImageSmall {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Описание кейса */
.caseDescription {
  padding: 10px;
  font-size: 0.9rem;
  color: #D0E0F1;
  line-height: 1.4;
  text-align: left;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  .casesContainer {
    display: flex;
    gap: 12px;
  }

  .caseRow {
    display: flex;
    overflow-x: auto; /* Прокрутка для каждой строки */
    flex-direction: row;
    gap: 10px;
    padding-bottom: 8px;
  }

  .caseCard {
    flex-shrink: 0; /* Фиксирует ширину карточки, чтобы она не сжималась */
    width: 350px;
    height: 300px;
  }

  .caseRow::-webkit-scrollbar {
    display: none; /* Отключаем полосу прокрутки для эстетики */
  }

  .caseImageContainer {
    height: 150px;
    
  }
}
