.footer {
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: center;
  font-size: 0.75rem;
  background-color: var(--background);
  color: white;
  border-top: 1px solid #2f4b63;
  margin-top: auto;
}

.footerText {
  margin: 0;
  color: #b3b3b3;
}
.linksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.iconLinkTG {
  cursor: pointer;
  transition: color 0.3s ease;
}

.iconLinkTG:hover {
  color: #2102d1; /* Подсветка при наведении */
}

.iconLinkWA {
  cursor: pointer;
  transition: color 0.3s ease;
}

.iconLinkWA:hover {
  color: #2102d1; 
}

.footerLink {
  color: white;
  font-weight: 600;
  margin-top: 0.5rem;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footerLink:hover {
  color: #2600ff; /* Подсветка при наведении */
}