/* Модальное окно */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  width: 450px;
  max-height: 80vh; /* Ограничиваем высоту модального окна */
  background-color: #1a2633;
  padding: 20px;
  border-radius: 8px;
  color: white;
  overflow-y: auto; /* Добавляем прокрутку по вертикали */
  position: relative;
}

.closeButton {
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #ff4d4f; /* Красный цвет для кнопки закрытия */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #ff7875; /* Светлее при наведении */
}


/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  .modalContent {
      width: 90%;
      padding: 15px;
  }
}
