:root {
  --background: #1a2633;
}

.container {
  width: 959px;
  margin: 0 auto;
  background-color: var(--background);
  color: white;
  padding: 20px;
}

/* Верхний контейнер */
.heroSection {
  width: 959px;
  height: 512px;
  background-image: url('/13.jpg'); /* Замените на реальный путь */
  background-size: cover; /* Заполняет весь контейнер */
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.heroTextContainer {
  max-width: 500px;
  padding: 10px;
  border-radius: 8px;
  position: absolute; /* Размещение текста поверх изображения */
  bottom: 20px;
  left: 20px;
}

.heroTitle {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
}

.heroDescription {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
}



/* Контейнер "Услуги" */
.servicesHeader {
  width: 959px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

/* Контейнер с 4 карточками */
.fourCardsSection {
  width: 959px;
  height: 250px;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardWrapper {
  width: 927px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.serviceCard {
  width: 223px;
  height: 218px;
  background-color: #2a2e38;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

/* Контейнер с кнопкой "Все услуги" */
.allServicesButton {
  width: 959px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.allServicesButton button {
  background-color: #1919e6;
  color: white;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.allServicesButton button:hover {
  background-color: #1f1fcc;
}

/* Секция с 3 карточками */
.threeCardsSection {
  width: 959px;
  height: 291px;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caseCard {
  width: 301px;
  height: 259px;
  background-color: #2a2e38;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
  padding: 10px;
  text-align: center;
}

.caseImage {
  width: 100%; /* Делает картинку адаптивной по ширине карточки */
  height: 169px;
  background-color: #404552;
  border-radius: 8px;
  object-fit: cover;
}
